{% extends 'base.html.twig' %}

{% block title %}Page Products{% endblock %}

{% block body %}
    <form class="d-flex justify-content-center mt-5 mb-5">
        <input class="form-control w-50" type="search" placeholder="Search Game">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="bi bi-search"></i></button>
    </form>

    <div class="row">
        {% for product in products %}

            <div class="p-2 col-4">
                <a class="nav-link" href="{{ path('app_show_product', {id:product.id}) }}">
                    <div class="rounded d-flex flex-column">
                        <div class="d-flex justify-content-between">
                            {% if product.images.0 is not null %}
                                <img class="rounded w-100" src="{{ vich_uploader_asset(product.images.0,'imageFile')|imagine_filter('productPicture') }}" alt="image product">
                            {% endif %}
                        </div>
                        <div class="d-flex">
                            <p class="m-0 col-11">{{ product.name }}</p>
                            <p class="m-0 col-1"><strong>{{ product.price }}€</strong></p>
                        </div>
                    </div>
                </a>
            </div>

        {% endfor %}
    </div>

{% endblock %}
